<!DOCTYPE html>
<html ng-app="excercise">
  <head>
    <meta charset="utf-8"/>
    <title>Multiplies of 3 and 5</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <script src="lib/jquery-2.1.1.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>
    <script src="lib/angular.min.js"></script>
    <script>
      (function() {
        var app = angular.module("excercise", []);
        app.controller("exCtrl", function() {
          var self = this;
          self.answer = "";
          self.getAnswer = function() {
            var i, sum = 0;
            
            for(i = 1; i < 1000; ++i) {
              if(i % 3 == 0 || i % 5 == 0) {
                sum += i;
              }
            }
            self.answer = sum;
          };
        });
      })();
    </script>
  </head>
  <body>
    <div class="container">
      <h1>Multiplies of 3 and 5</h1>
      <p class="lead">
      If we list all the natural numbers below 10 that are multiples of 3 or 5, 
      we get 3, 5, 6 and 9. The sum of these multiples is 23.      
      Find the sum of all the multiples of 3 or 5 below 1000.
      </p>
      <p ng-controller="exCtrl as ex">
        Answer:
        <span class="btn btn-primary btn-xs" ng-click="ex.getAnswer()">
          =
        </span>
        {{ ex.answer }} 
      </p>
    </div>
  </body>
</html>
