<!DOCTYPE html>
<html ng-app="excercise">
  <head>
    <meta charset="utf-8"/>
    <title>Largest prime factor</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <script src="lib/jquery-2.1.1.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>
    <script src="lib/angular.min.js"></script>
    <script>
      function minFactor(n) {
        if(n <= 2) {
          return 1;
        }
      
        var i = 2;
        while(i <= n) {
          if(n % i === 0) {
            return i;
          }
          ++i;
        }
        return n;
      }
    
      (function() {
        var app = angular.module("excercise", []);
        app.controller("exCtrl", function() {
          var self = this;
          self.answer = "";
          self.getAnswer = function() {
            var max = 600851475143, i = 2, min = 0;
            self.answer = max;            
            do {
              min = minFactor(max);
              max = max / min;
            } while (max > 1);
            self.answer = min;
          };
        });
      })();
    </script>
  </head>
  <body>
    <div class="container">
      <h1>Largest prime factor</h1>
      <p class="lead">
      The prime factors of 13195 are 5, 7, 13 and 29.    
      What is the largest prime factor of the number 600851475143 ?
      </p>
      <p ng-controller="exCtrl as ex">
        Answer:
        <span class="btn btn-primary btn-xs" ng-click="ex.getAnswer()">
          =
        </span>
        {{ ex.answer }}
      </p>
    </div>
  </body>
</html>
