<!DOCTYPE html>
<html ng-app="excercise">
  <head>
    <meta charset="utf-8"/>
    <title>Largest palindrome product</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <script src="lib/jquery-2.1.1.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>
    <script src="lib/angular.min.js"></script>
    <script>
      function isPalindromic(string) {
        var len, len2, i, st;
        len = string.length;
        
        if(len == 0) {
          return false;
        }        
        if(len == 1) {
          return true;
        }
        
        if(len % 2 == 0) {
          len2 = len / 2;
          st = len2 - 1;
        } else {
          len2 = Math.floor(len / 2) + 1;
          st = len2 - 2;
        }

        for(i = len2; i < len; ++i) {
          if(string[i] != string[st - (i - len2)]) {
            return false;
          }
        }
        return true;
      }

      (function() {
        var app = angular.module("excercise", []);
        app.controller("exCtrl", function() {
          var self = this;
          self.answer = "";
          self.getAnswer = function() {
            var i, j, numbers = [], max = 0;
            for(i = 999; i > 99; --i) {
              for(j = i; j > 99; --j) {
                if(isPalindromic("" + (i * j))) {
                  numbers.push(i * j);
                }
              }
            }
            for(i = 0; i < numbers.length; ++i) {
              if(max < numbers[i]) {
                max = numbers[i];
              }
            }
            self.answer = max;
          };
        });
      })();
    </script>
  </head>
  <body>
    <div class="container">
      <h1>Largest palindrome product</h1>
      <p class="lead">
      A palindromic number reads the same both ways. The largest palindrome made
      from the product of two 2-digit numbers is 9009 = 91 &times; 99.
      Find the largest palindrome made from the product of two 3-digit numbers.
      </p>
      <p ng-controller="exCtrl as ex">
        Answer:
        <span class="btn btn-primary btn-xs" ng-click="ex.getAnswer()">
          =
        </span>
        {{ ex.answer }}
      </p>
    </div>
  </body>
</html>
