<!DOCTYPE html>
<html ng-app="excercise">
  <head>
    <meta charset="utf-8"/>
    <title>Smallest multiple</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <script src="lib/jquery-2.1.1.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>
    <script src="lib/angular.min.js"></script>
    <script>
      (function() {
        var app = angular.module("excercise", []);
        app.controller("exCtrl", function() {
          var self = this;
          self.answer = "";
          
          self.getAnswer = function() {
            var start = 20 * 20, i, j, found = false;
            i = start;
            while(!found) {
              for(j = 1; j <= 20; ++j) {
                
              }
              ++i;
            }
          };
        });
      })();
    </script>
  </head>
  <body>
    <div class="container">
      <h1>Smallest multiple</h1>
      <p class="lead">
      2520 is the smallest number that can be divided by each of the numbers from 1 to 10 without any remainder.

      What is the smallest positive number that is <u>evenly divisible</u> by all of the
      numbers from 1 to 20?
      </p>
      <p ng-controller="exCtrl as ex">
        Answer:
        <span class="btn btn-primary btn-xs" ng-click="ex.getAnswer()">
          =
        </span>
        {{ ex.answer }}
      </p>
    </div>
  </body>
</html>
