<!DOCTYPE html>
<html ng-app="excercise">
  <head>
    <meta charset="utf-8"/>
    <title>TITLE</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <script src="lib/jquery-2.1.1.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>
    <script src="lib/angular.min.js"></script>
    <script>
      (function() {
        var app = angular.module("excercise", []);
        app.controller("exCtrl", function() {
          var self = this;
          self.answer = "";
          
          self.getAnswer = function() {
            self.answer = "Not implemented yet";
          };
        });
      })();
    </script>
  </head>
  <body>
    <div class="container">
      <h1>TITLE</h1>
      <p class="lead">
      Description
      </p>
      <p ng-controller="exCtrl as ex">
        Answer:
        <span class="btn btn-primary btn-xs" ng-click="ex.getAnswer()">
          =
        </span>
        {{ ex.answer }}
      </p>
    </div>
  </body>
</html>
